<ion-row>
  <ion-col offset-md-3 col-md-6 offset-xl-4 col-xl-4>
    <form (ngSubmit)="login()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>

            <ion-item>
              <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="credentials.username" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="credentials.password" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-select name="room" col-12 required placeholder="Room" [(ngModel)]="credentials.room">
                <ion-option>Bacon</ion-option>
                <ion-option>Black Olives</ion-option>
                <ion-option>Extra Cheese</ion-option>
                <ion-option>Mushrooms</ion-option>
                <ion-option>Pepperoni</ion-option>
                <ion-option>Sausage</ion-option>
              </ion-select>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Login</button>
          <button ion-button class="register-btn" block clear  type="button" (click)="createAccount()">Create New Account</button>
        </ion-col>
      </ion-row>

    </form>
  </ion-col>
</ion-row>
