<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{room}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="logout()"><ion-icon name="log-out"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let c of chats">

      <div class="left clearfix" *ngIf="c.username===msgData.username; else rightchat">
        <span class="chat-img pull-left">
          <img src="http://placehold.it/50/55C1E7/fff&text=ME" alt="User Avatar" class="img-circle" />
        </span>
        <div class="chat-body clearfix">
          <div class="header">
            <strong class="primary-font">{{ c.username }}</strong> <small class="pull-right text-muted">
            <span class="glyphicon glyphicon-time"></span>{{ c.updated_at | date: 'medium' }}</small>
          </div>
          <p>{{ c.message }}</p>
        </div>
      </div>
      <ng-template #rightchat>
        <div class="right clearfix">
          <span class="chat-img pull-right">
            <img src="http://placehold.it/50/FA6F57/fff&text=U" alt="User Avatar" class="img-circle" />
          </span>
          <div class="chat-body clearfix">
            <div class="header">
              <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{ c.updated_at | date: 'medium' }}</small>
              <strong class="pull-right primary-font">{{ c.username }}</strong>
            </div>
            <p>{{ c.message }}</p>
          </div>
        </div>
      </ng-template>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-navbar>
    <ion-input [(ngModel)]="msgData.message" placeholder="Click here to type a message..."></ion-input>
    <ion-buttons end>
      <button ion-button (click)="sendMessage()" [disabled]="!msgData.message"><ion-icon name="send"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-footer>
